*.class
*.md
project/
target/
/bin/

*.cache-main
src/webapp/WEB-INF/lib/cad.jar
cad.war
src/webapp/WEB-INF/lib/scribe.jar
scribe.war
*.classpath
src/webapp/WEB-INF/classes/axis2.xml
src/webapp/WEB-INF/classes/LiveIdLogin.xml
src/webapp/WEB-INF/classes/MSOffice365Login.xml
src/webapp/WEB-INF/classes/scribe-log4j.properties
src/webapp/WEB-INF/classes/scribe.properties